*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#61045F,#AA076B);
}
.container{
    
    display: flex;
    justify-content: space-around;
    border-radius: 45px ;

        
    
    box-shadow:
  12.5px 12.5px 2.2px rgba(0, 0, 0, 0.023),
  22.8px 22.8px 5.3px rgba(0, 0, 0, 0.034),
  31.6px 31.6px 10px rgba(0, 0, 0, 0.043),
  40.7px 40.7px 17.9px rgba(0, 0, 0, 0.051),
  54.7px 54.7px 33.4px rgba(0, 0, 0, 0.059),
  100px 100px 80px rgba(0, 0, 0, 0.07)
    
    
}
.division1{


    
}

.division2{
    width: 470px;
    height: 550px;
    background-color: white;
    border-top-right-radius: 45px ;
    border-bottom-right-radius: 45px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    
  
}

.image{
    width: 700px;
    height: 550px;
   border-top-left-radius: 45px ;
    border-bottom-left-radius: 45px;
}


.formClass{
    display: flex;
    flex-direction: column;
    
}

.innerClass{
    
    display: flex;
}

.input_class_agreement{
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
        
        color:#AA076B;
        font-size: 15px;
    
}
.innerClasses{
    display: flex;
    
}
.input_class{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    color: #61045F;
    font-size: 15px;
}
.input_class_gender{
    padding: 0px 20px;
    display: flex;
    text-align: left;
    color: #61045F;
    font-size: 15px;
}
.line{
    height: 3px;
    width: 30px;
    background:linear-gradient(#AA076B 50%,#61045F);
    margin: 1px;
    margin-bottom: 6px;
    border-radius: 6px;
}

#gender{
    text-align: left;
}

.gender{
    padding-bottom: 50px;
}
#fullName,#userName,#phone,#email,#Password,#confirmpassword{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #61045F;
    padding: 10px;
    
}
#state{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #61045F;
    
}


#fullName:hover,#userName:hover,#phone:hover,#email:hover,#state:hover,#Password:hover,#confirmpassword:hover{
    border:2px solid #AA076B;
}

#fullName::placeholder,#userName::placeholder,#phone::placeholder,#email::placeholder,#state::placeholder,#Password::placeholder,#confirmpassword::placeholder{
    
    color: #aa076ca4;
    font-size: 13px;
    font-weight: 500; 
}


.stateClass{
    margin-left: 40px;
    
}

.header{
    text-align: center;
    color: #AA076B;
    padding: 1rem;
}
.gender_and_state{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.genderClass{
    padding: 0px 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: #61045F;
    font-size: 15px;

}





.name{
    opacity:0;
    color: red;
}

.active{
    opacity: 1;
    
}


#submitBtn{
    text-decoration: none;
    margin-top: 30px;
    background-color: #AA076B;
    border-radius: 15px;
    border: 4px solid #AA076B;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    
}

#submitBtn:hover{
    margin-top: 30px;
    background-color: #ec52b1;
    text-decoration: none;
    border-radius: 15px;
    border: 4px solid #ec52b1;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}